.profile-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
}
.profile-container__image{
}

.profile-details__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
}

.profile-details__info{
    margin-top: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 4.2rem;
}

.profile__image {
    border-radius: 50%;
    height: 7rem;
}

.profile-details__container {
    text-align: center;
}

.profile-details__description,
.profile-details__intro {
    font-size: 1.2rem;
}

.profile-details__title{
    font-size: 1.4rem;
}

.profile-details__intro {
    font-size: 0.9rem;
}

.profile-details__redes {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 2rem;
    font-size: 1.4rem;
}

.detail__redes--icon:hover, .detail__redes--icon:hover{
    color: #6a0dad;
    cursor: pointer;
    border-radius: 20%;
    transform: scale(50rem);
}

@media (min-width: 62rem) {
    .profile-details__intro{
        padding: 0.2rem 4rem;
        font-size: 1.1rem;
    }

    .profile__image {
        height: 9rem;
    }

}