.profile-container{
    display: flex;
    flex-flow: row;
}

.profile-container__image{
    
}

.profile__image{
    border-radius: 50%;
    width: 125px;
    height: 125px;

}

.profile-container__redes{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 1rem 0;
}

.profile-details__description{
    font-size: 0.9rem;
}