.review__container {
    overflow: hidden;
    width: 100%;
}

.review__slideshow {
    white-space: nowrap;
    transition: ease 500ms;
}

.review__slide {
    background: white;
    height: 12rem;
    width: 100%;
    border-radius: 12px;
    display: inline-block;
    color: black;
    border: 2px solid black;
}

.review__info {
    border: 2px solid green;
    height: 98%;
    width: 90%;
    padding: 0.5rem;
}

.review__data {
    font-size: 0.8rem;
    border: 2px solid red;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;

}

.review__details {
    position: absolute;
    bottom: 0;
    font-size: 0.7rem;
    font-style: italic;
    margin-top: 0.5rem;
}

.slideshowDots {
    text-align: center;
}

.slideshowDot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
    position: relative;
}

.slideshowDot.active {
    background-color: #6a0dad;
}