.review__container {
    overflow: hidden;
    margin: 1rem 0 ;
    max-width: 92vw;
}

.review__slideshow {
    white-space: nowrap;
    transition: ease 500ms;
}

.review__slide {
    height: 10rem;
    width: 100%;
    border-radius: 12px;
    display: inline-block;
    color: whitesmoke;
    background: rgba(255, 255, 255, 0.17);
    box-shadow: 0 4px 30px rgb(0, 0, 0, 0.1);
    padding: 0.2rem;
}

.review__info {
    display: inline-block;
    line-height: 1;
    padding: 0.5rem;    
    width: 100%;
    font-size: 0.8rem;
}

.review__data {
    height: 50px;
    white-space: normal;
    text-align: justify;
}

.review__details {
    font-style: italic;
    margin-top: 2.8rem;
    white-space: normal;
}

.slideshowDots {
    text-align: center;
}

.slideshowDot {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
    position: relative;
}

.slideshowDot.active {
    background-color: #6a0dad;
}

@media(min-width: 40rem){

    .review__container{
        width: 60%;
    }

    .review__slideshow{
        padding: 2rem 1.8rem;
    }
    .review__slide{
        margin: 1.5rem;
    }
    .review__info{
        font-size: 0.8rem;
    }
    .review__details{
        font-weight: bold;
    }
}

@media(min-width: 64rem){
    .review__info{
        font-size: 1rem;
    }
}