.clients-section{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

@media (min-width: 46rem){
  .clients-section{
    flex-flow: row wrap;
  }
}