.clients-section{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;

  background: rgba(255, 255, 255, 0.17);
  box-shadow: 0 4px 30px rgb(106, 13, 173, 0.4);
  backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid rgb(106, 13, 173, 0.7);
    border-radius: 25px;
    height: 100%;
}

@media (min-width: 40rem){
  .clients-section{
    flex-flow: row wrap;
    padding-bottom: 1rem;
  }
}