.main-footer {
    width: 100%;
    display: flex;
    flex-flow: column-reverse;
    gap: 1rem;
    align-items: center;
    padding: 1.5rem 0;
    grid-column: 1/span 2;
}

@media(min-width:46rem) {
    .main-footer {
        flex-flow: row;
        justify-content: space-around;
    }
}