.client-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-size: 0.8rem;
    margin: 0.75rem 0;
    height: 9.5rem;
    padding: 0.5rem;
}
.client-button__header{
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
}
.client-button{
    position: relative;
    width: 20%;
}
.client-button__details{
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    padding: 0.3rem;
}

.details__role{
    font-weight: bold;
    font-size: 0.9rem;
    width: 70%;
    padding: 0.5rem;
}

.details__date--info{
    display: flex;
    flex-flow: column wrap;
    font-style: italic;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    padding: 0.5rem;
}

.details__description{
    text-align: justify;
}




.client-button{
    width: 120px;
    height: 55px;  
    border-radius: 8px;
}

@media (min-width: 46rem){
    .client-button-container{
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        width: 40%;
    }
    .client-button__header{
        width: 100%;
        justify-content: space-between;
    }
    .client-button__details{
        display: flex;
        width: 40%;
    }
}
